[{lager, [

  %% Default handlers for lager/lager_event
  {handlers, [
    {lager_console_backend, [{level, info}]},
    {lager_file_backend, [{file, "./log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "./log/console.log"}, {level, info}]}
  ]},

  %% Any other sinks
  {extra_sinks,
    [
      {audit_lager_event,
        [{handlers,
          [{lager_file_backend,
            [{file, "./log/sink3.log"},
              {level, info}
            ]
          }]
        }]
      }]
  }
]
}
].